In [4]:
import pandas as pd
import numpy as np

In [5]:
df_cisp = pd.read_csv('BaseDPEvolucaoMensalCisp.csv', sep= ';', encoding = 'latin-1')
df_cisp.head()

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3

In [6]:
for i in df_cisp.columns:
    print(i)

cisp
mes
ano
mes_ano
aisp
risp
munic
mcirc
regiao
hom_doloso
lesao_corp_morte
latrocinio
cvli
hom_por_interv_policial
letalidade_violenta
tentat_hom
lesao_corp_dolosa
estupro
hom_culposo
lesao_corp_culposa
roubo_transeunte
roubo_celular
roubo_em_coletivo
roubo_rua
roubo_veiculo
roubo_carga
roubo_comercio
roubo_residencia
roubo_banco
roubo_cx_eletronico
roubo_conducao_saque
roubo_apos_saque
roubo_bicicleta
outros_roubos
total_roubos
furto_veiculos
furto_transeunte
furto_coletivo
furto_celular
furto_bicicleta
outros_furtos
total_furtos
sequestro
extorsao
sequestro_relampago
estelionato
apreensao_drogas
posse_drogas
trafico_drogas
apreensao_drogas_sem_autor
recuperacao_veiculos
apf
aaapai
cmp
cmba
ameaca
pessoas_desaparecidas
encontro_cadaver
encontro_ossada
pol_militares_mortos_serv
pol_civis_mortos_serv
registro_ocorrencias
fase

In [7]:
df_total_furtos = df_cisp[['munic','total_furtos']].groupby('munic').sum().reset_index()
df_total_furtos = df_total_furtos.sort_values(by='total_furtos', ascending=False)
df_total_furtos

                                                munic  total_furtos
68                                     Rio de Janeiro       1948349
48                                            Niterói        159133
78                                        São Gonçalo        132586
23                                    Duque de Caxias        125691
50                                        Nova Iguaçu        102246
..                                                ...           ...
35                                     Laje do Muriaé           695
61                                   Queimados;Japeri           574
83                              São Sebastião do Alto           527
14  Campos dos Goytacazes;São Francisco de Itabapoana           520
57                                    Piraí;Pinheiral           200

[90 rows x 2 columns]

In [8]:
df_furto_veiculos = df_cisp[['munic','furto_veiculos']].groupby('munic').sum().reset_index()
df_furto_veiculos = df_furto_veiculos.sort_values(by='furto_veiculos', ascending=False)
df_furto_veiculos

                    munic  furto_veiculos
68         Rio de Janeiro          186630
48                Niterói           25804
78            São Gonçalo           23273
23        Duque de Caxias           22270
50            Nova Iguaçu           19463
..                    ...             ...
83  São Sebastião do Alto              33
61       Queimados;Japeri              28
35         Laje do Muriaé              21
66         Rio das Flores              14
57        Piraí;Pinheiral               6

[90 rows x 2 columns]

In [9]:
df_furto_transeunte = df_cisp[['munic','furto_transeunte']].groupby('munic').sum().reset_index()
df_furto_transeunte = df_furto_transeunte.sort_values(by='furto_transeunte', ascending=False)
df_furto_transeunte

                    munic  furto_transeunte
68         Rio de Janeiro            335062
48                Niterói             24403
23        Duque de Caxias             21850
78            São Gonçalo             20180
50            Nova Iguaçu             15727
..                    ...               ...
22            Duas Barras                 9
12                Cambuci                 7
83  São Sebastião do Alto                 6
69   Santa Maria Madalena                 5
57        Piraí;Pinheiral                 2

[90 rows x 2 columns]

In [10]:
df_furto_coletivo = df_cisp[['munic','furto_coletivo']].groupby('munic').sum().reset_index()
df_furto_coletivo = df_furto_coletivo.sort_values(by='furto_coletivo', ascending=False)
df_furto_coletivo

                                                munic  furto_coletivo
68                                     Rio de Janeiro          127474
48                                            Niterói            5347
78                                        São Gonçalo            4459
23                                    Duque de Caxias            4314
13                              Campos dos Goytacazes            3441
..                                                ...             ...
83                              São Sebastião do Alto               2
57                                    Piraí;Pinheiral               1
35                                     Laje do Muriaé               1
14  Campos dos Goytacazes;São Francisco de Itabapoana               0
69                               Santa Maria Madalena               0

[90 rows x 2 columns]

In [11]:
df_furto_celular = df_cisp[['munic','furto_celular']].groupby('munic').sum().reset_index()
df_furto_celular = df_furto_celular.sort_values(by='furto_celular', ascending=False)
df_furto_celular

                                                munic  furto_celular
68                                     Rio de Janeiro         289772
48                                            Niterói          16304
23                                    Duque de Caxias          11257
78                                        São Gonçalo          10241
50                                        Nova Iguaçu           9740
..                                                ...            ...
83                              São Sebastião do Alto             46
35                                     Laje do Muriaé             46
61                                   Queimados;Japeri             24
14  Campos dos Goytacazes;São Francisco de Itabapoana              7
57                                    Piraí;Pinheiral              2

[90 rows x 2 columns]

In [12]:

df_furto_bicicleta = df_cisp[['munic','furto_bicicleta']].groupby('munic').sum().reset_index()
df_furto_bicicleta = df_furto_bicicleta.sort_values(by='furto_bicicleta', ascending=False)
df_furto_bicicleta

                                               munic  furto_bicicleta
68                                    Rio de Janeiro          12224.0
48                                           Niterói           2680.0
13                             Campos dos Goytacazes           1080.0
50                                       Nova Iguaçu            429.0
38                                              Magé            407.0
..                                               ...              ...
39                                   Magé;Guapimirim              0.0
32  Itaperuna;São José de Ubá;Cardoso Moreira;Italva              0.0
28                                   Itaboraí;Tanguá              0.0
37                          Macaé;Quissamã;Carapebus              0.0
61                                  Queimados;Japeri              0.0

[90 rows x 2 columns]

In [13]:
array_furto_veiculos = np.array(df_furto_veiculos['furto_veiculos'])

maximo = np.max(array_furto_veiculos)
minimo = np.min(array_furto_veiculos)
media = np.mean(array_furto_veiculos)
mediana = np.median(array_furto_veiculos)
distancia = (media-mediana)/mediana
q1 = np.quantile(array_furto_veiculos, 0.25)
q3 = np.quantile(array_furto_veiculos, 0.75)
iqr = q3 - q1
limite_inferior = q1 - (1.5 * iqr)
limite_superior = q3 + (1.5 * iqr)
print(f'Mínimo: {minimo}')
print(f'Limite Inferior: {limite_inferior}')
print(f'Média: {media}')
print(f'Mediana: {mediana}')
print(f'Distância: {round(distancia * 100 , 2)}%')
print(f'Q1: {q1}')
print(f'Q3: {q3}')
print(f'IQR: {iqr}')
print(f'Máximo: {maximo}')
print(f'Limite Superior: {limite_superior}')

Mínimo: 6
Limite Inferior: -2798.125
Média: 4338.7555555555555
Mediana: 523.0
Distância: 729.59%
Q1: 160.25
Q3: 2132.5
IQR: 1972.25
Máximo: 186630
Limite Superior: 5090.875

## 1. Distância <= |10%|: Indica que a média tende a ser uma medida de tendência central confiável
## 2. Distância >= |10%| e Distância < |25%|: Indica que a média está sofrendo moderadamente a influência dos valores extremos da distribuição dos dados e, com isso, pode ser que seja (ou não) uma medida de tendência central confiável(precisará analisar outras medidas que no futuro serão apresentadas)
## 3. Distância >=|25%|: Indica que a média está sofrendo alta a influência dos valores extremos da distribuição dos dados e,com isso, tende a não ser uma medida de tendência central confiável (precisará analisar outra medidas que no futuro serão apresentadas)

In [14]:
array_furto_transeunte = np.array(df_furto_transeunte['furto_transeunte'])

maximo = np.max(array_furto_transeunte)
minimo = np.min(array_furto_transeunte)
media = np.mean(array_furto_transeunte)
mediana = np.median(array_furto_transeunte)
distancia = (media-mediana)/mediana
q1 = np.quantile(array_furto_transeunte, 0.25)
q3 = np.quantile(array_furto_transeunte, 0.75)
iqr = q3 - q1
limite_inferior = q1 - (1.5 * iqr)
limite_superior = q3 + (1.5 * iqr)
print(f'Mínimo: {minimo}')
print(f'Limite Inferior: {limite_inferior}')
print(f'Média: {media}')
print(f'Mediana: {mediana}')
print(f'Distância: {round(distancia * 100 , 2)}%')
print(f'Q1: {q1}')
print(f'Q3: {q3}')
print(f'IQR: {iqr}')
print(f'Máximo: {maximo}')
print(f'Limite Superior: {limite_superior}')

Mínimo: 2
Limite Inferior: -2154.5
Média: 5475.9
Mediana: 245.5
Distância: 2130.51%
Q1: 64.75
Q3: 1544.25
IQR: 1479.5
Máximo: 335062
Limite Superior: 3763.5

In [15]:
array_furto_coletivo = np.array(df_furto_coletivo['furto_coletivo'])

maximo = np.max(array_furto_coletivo)
minimo = np.min(array_furto_coletivo)
media = np.mean(array_furto_coletivo)
mediana = np.median(array_furto_coletivo)
distancia = (media-mediana)/mediana
q1 = np.quantile(array_furto_coletivo, 0.25)
q3 = np.quantile(array_furto_coletivo, 0.75)
iqr = q3 - q1
limite_inferior = q1 - (1.5 * iqr)
limite_superior = q3 + (1.5 * iqr)
print(f'Mínimo: {minimo}')
print(f'Limite Inferior: {limite_inferior}')
print(f'Média: {media}')
print(f'Mediana: {mediana}')
print(f'Distância: {round(distancia * 100 , 2)}%')
print(f'Q1: {q1}')
print(f'Q3: {q3}')
print(f'IQR: {iqr}')
print(f'Máximo: {maximo}')
print(f'Limite Superior: {limite_superior}')

Mínimo: 0
Limite Inferior: -482.875
Média: 1830.7666666666667
Mediana: 50.5
Distância: 3525.28%
Q1: 14.0
Q3: 345.25
IQR: 331.25
Máximo: 127474
Limite Superior: 842.125

In [16]:
array_furto_celular = np.array(df_furto_celular['furto_celular'])

maximo = np.max(array_furto_celular)
minimo = np.min(array_furto_celular)
media = np.mean(array_furto_celular)
mediana = np.median(array_furto_celular)
distancia = (media-mediana)/mediana
q1 = np.quantile(array_furto_celular, 0.25)
q3 = np.quantile(array_furto_celular, 0.75)
iqr = q3 - q1
limite_inferior = q1 - (1.5 * iqr)
limite_superior = q3 + (1.5 * iqr)
print(f'Mínimo: {minimo}')
print(f'Limite Inferior: {limite_inferior}')
print(f'Média: {media}')
print(f'Mediana: {mediana}')
print(f'Distância: {round(distancia * 100 , 2)}%')
print(f'Q1: {q1}')
print(f'Q3: {q3}')
print(f'IQR: {iqr}')
print(f'Máximo: {maximo}')
print(f'Limite Superior: {limite_superior}')

Mínimo: 2
Limite Inferior: -2277.5
Média: 4652.466666666666
Mediana: 499.5
Distância: 831.42%
Q1: 223.75
Q3: 1891.25
IQR: 1667.5
Máximo: 289772
Limite Superior: 4392.5

In [17]:
array_furto_bicicleta = np.array(df_furto_bicicleta['furto_bicicleta'])

maximo = np.max(array_furto_bicicleta)
minimo = np.min(array_furto_bicicleta)
media = np.mean(array_furto_bicicleta)
mediana = np.median(array_furto_bicicleta)
distancia = (media-mediana)/mediana
q1 = np.quantile(array_furto_bicicleta, 0.25)
q3 = np.quantile(array_furto_bicicleta, 0.75)
iqr = q3 - q1
limite_inferior = q1 - (1.5 * iqr)
limite_superior = q3 + (1.5 * iqr)
print(f'Mínimo: {minimo}')
print(f'Limite Inferior: {limite_inferior}')
print(f'Média: {media}')
print(f'Mediana: {mediana}')
print(f'Distância: {round(distancia * 100 , 2)}%')
print(f'Q1: {q1}')
print(f'Q3: {q3}')
print(f'IQR: {iqr}')
print(f'Máximo: {maximo}')
print(f'Limite Superior: {limite_superior}')

Mínimo: 0.0
Limite Inferior: -144.125
Média: 258.43333333333334
Mediana: 59.5
Distância: 334.34%
Q1: 12.25
Q3: 116.5
IQR: 104.25
Máximo: 12224.0
Limite Superior: 272.875

In [18]:
furto_veiculos_outliers = df_furto_veiculos[df_furto_veiculos['furto_veiculos'] > limite_superior]
furto_veiculos_outliers

#Dos 92 municípios do Rio de Janeiro, 55 são outliers para furto de veículos.

                                        munic  furto_veiculos
68                             Rio de Janeiro          186630
48                                    Niterói           25804
78                                São Gonçalo           23273
23                            Duque de Caxias           22270
50                                Nova Iguaçu           19463
81                         São João de Meriti           10775
13                      Campos dos Goytacazes            7767
6                                Belford Roxo            7309
89                              Volta Redonda            5504
47                                  Nilópolis            4770
67                             Rio das Ostras            4684
43                                   Mesquita            4195
38                                       Magé            3600
41                                     Maricá            3444
54                                 Petrópolis            3439
36                                      Macaé            3358
29                                    Itaguaí            3150
27                                   Itaboraí            3018
9                                   Cabo Frio            2857
49                              Nova Friburgo            2838
1                                    Araruama            2724
85                                Teresópolis            2447
60                                  Queimados            2134
4                                 Barra Mansa            2128
10                  Cabo Frio;Arraial do Cabo            2038
0                              Angra dos Reis            1970
72                                  Saquarema            1956
37                   Macaé;Quissamã;Carapebus            1916
40                                Mangaratiba            1806
64                                 Rio Bonito            1690
82                        São Pedro da Aldeia            1607
63                                    Resende            1588
28                            Itaboraí;Tanguá            1170
2                          Armação dos Búzios            1093
73                                 Seropédica            1064
19  Comendador Levy Gasparian;Areal;Três Rios             839
80                          São João da Barra             720
31                  Itaperuna;São José de Ubá             698
77                São Francisco de Itabapoana             666
34                                     Japeri             639
70             Santo Antônio de Pádua;Aperibé             601
5                              Barra do Pirai             594
18                          Casimiro de Abreu             570
52                                     Paraty             558
39                            Magé;Guapimirim             538
26                              Iguaba Grande             508
44            Miguel Pereira;Paty dos Alferes             501
25                                 Guapimirim             461
51                                  Paracambi             442
11                       Cachoeiras de Macacu             417
87                                    Valença             388
88                                  Vassouras             373
76                                São Fidélis             331
3                             Arraial do Cabo             324
30                                   Itaocara             287

In [19]:
furto_transeunte_outliers = df_furto_transeunte[df_furto_transeunte['furto_transeunte'] > limite_superior]
furto_transeunte_outliers

#Dos 92 municípios do Rio de Janeiro, 37 são outliers para furto de transeuntes.

                                        munic  furto_transeunte
68                             Rio de Janeiro            335062
48                                    Niterói             24403
23                            Duque de Caxias             21850
78                                São Gonçalo             20180
50                                Nova Iguaçu             15727
13                      Campos dos Goytacazes              9166
81                         São João de Meriti              6277
47                                  Nilópolis              4894
54                                 Petrópolis              4454
36                                      Macaé              3690
89                              Volta Redonda              3631
43                                   Mesquita              3628
6                                Belford Roxo              3584
67                             Rio das Ostras              2613
9                                   Cabo Frio              2585
38                                       Magé              2101
41                                     Maricá              1895
49                              Nova Friburgo              1870
85                                Teresópolis              1859
29                                    Itaguaí              1768
4                                 Barra Mansa              1658
63                                    Resende              1632
27                                   Itaboraí              1595
60                                  Queimados              1392
10                  Cabo Frio;Arraial do Cabo              1355
1                                    Araruama              1093
0                              Angra dos Reis               878
2                          Armação dos Búzios               868
72                                  Saquarema               763
19  Comendador Levy Gasparian;Areal;Três Rios               705
28                            Itaboraí;Tanguá               674
82                        São Pedro da Aldeia               643
31                  Itaperuna;São José de Ubá               564
34                                     Japeri               459
52                                     Paraty               415
3                             Arraial do Cabo               388
40                                Mangaratiba               334
80                          São João da Barra               314
73                                 Seropédica               313
26                              Iguaba Grande               278

In [20]:
furto_coletivo_outliers = df_furto_coletivo[df_furto_coletivo['furto_coletivo'] > limite_superior]
furto_coletivo_outliers

#Dos 92 municípios do Rio de Janeiro, 24 são outliers para furto em coletivo.

                    munic  furto_coletivo
68         Rio de Janeiro          127474
48                Niterói            5347
78            São Gonçalo            4459
23        Duque de Caxias            4314
13  Campos dos Goytacazes            3441
50            Nova Iguaçu            3233
81     São João de Meriti            1750
36                  Macaé            1429
6            Belford Roxo            1382
54             Petrópolis            1033
47              Nilópolis             882
43               Mesquita             798
89          Volta Redonda             730
41                 Maricá             587
49          Nova Friburgo             586
28        Itaboraí;Tanguá             562
38                   Magé             547
27               Itaboraí             530
60              Queimados             436
29                Itaguaí             409
67         Rio das Ostras             406
63                Resende             406
9               Cabo Frio             363
0          Angra dos Reis             292

In [21]:
furto_celular_outliers = df_furto_celular[df_furto_celular['furto_celular'] > limite_superior]
furto_celular_outliers

#Dos 92 municípios do Rio de Janeiro, 64 são outliers para furto de celular.

                                               munic  furto_celular
68                                    Rio de Janeiro         289772
48                                           Niterói          16304
23                                   Duque de Caxias          11257
78                                       São Gonçalo          10241
50                                       Nova Iguaçu           9740
..                                               ...            ...
58                                       Porciúncula            339
55                                         Pinheiral            339
25                                        Guapimirim            332
45                                          Miracema            291
32  Itaperuna;São José de Ubá;Cardoso Moreira;Italva            277

[64 rows x 2 columns]

In [22]:
furto_bicicleta_outliers = df_furto_bicicleta[df_furto_bicicleta['furto_bicicleta'] > limite_superior]
furto_bicicleta_outliers

#Dos 92 municípios do Rio de Janeiro, apenas 8 são outliers para furto de bicicleta.

                    munic  furto_bicicleta
68         Rio de Janeiro          12224.0
48                Niterói           2680.0
13  Campos dos Goytacazes           1080.0
50            Nova Iguaçu            429.0
38                   Magé            407.0
67         Rio das Ostras            379.0
23        Duque de Caxias            379.0
9               Cabo Frio            273.0

In [23]:
#Dispersão furto veículos

valor_maximo=df_furto_veiculos['furto_veiculos'].max()
valor_minimo=df_furto_veiculos['furto_veiculos'].min()
amplitude_total=valor_maximo-valor_minimo

print(f'Menor Valor:{valor_minimo}')
print(f'Maior Valor:{valor_maximo}')
print(f'Amplitude:{amplitude_total}')

Menor Valor:6
Maior Valor:186630
Amplitude:186624

In [24]:
#Dispersão furto transeunte

valor_maximo=df_furto_transeunte['furto_transeunte'].max()
valor_minimo=df_furto_transeunte['furto_transeunte'].min()
amplitude_total=valor_maximo-valor_minimo

print(f'Menor Valor:{valor_minimo}')
print(f'Maior Valor:{valor_maximo}')
print(f'Amplitude:{amplitude_total}')

Menor Valor:2
Maior Valor:335062
Amplitude:335060

In [25]:
#Dispersão furto em coletivo

valor_maximo=df_furto_coletivo['furto_coletivo'].max()
valor_minimo=df_furto_coletivo['furto_coletivo'].min()
amplitude_total=valor_maximo-valor_minimo

print(f'Menor Valor:{valor_minimo}')
print(f'Maior Valor:{valor_maximo}')
print(f'Amplitude:{amplitude_total}')

Menor Valor:0
Maior Valor:127474
Amplitude:127474

In [26]:
#Dispersão furto celular

valor_maximo=df_furto_celular['furto_celular'].max()
valor_minimo=df_furto_celular['furto_celular'].min()
amplitude_total=valor_maximo-valor_minimo

print(f'Menor Valor:{valor_minimo}')
print(f'Maior Valor:{valor_maximo}')
print(f'Amplitude:{amplitude_total}')

Menor Valor:2
Maior Valor:289772
Amplitude:289770

In [27]:
#Dispersão furto bicicleta

valor_maximo=df_furto_bicicleta['furto_bicicleta'].max()
valor_minimo=df_furto_bicicleta['furto_bicicleta'].min()
amplitude_total=valor_maximo-valor_minimo

print(f'Menor Valor:{valor_minimo}')
print(f'Maior Valor:{valor_maximo}')
print(f'Amplitude:{amplitude_total}')

Menor Valor:0.0
Maior Valor:12224.0
Amplitude:12224.0